section {
  padding: 0 2000px;
}
/* Main Scrollbar style */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #010A0A; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: rgb(0,251,244, 0.7); /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0,251,244, 0.5) /* Color of the scrollbar handle on hover */
}

/* Swiper pagination bullet */
.swiper-pagination-bullet {
  --swiper-pagination-top: 10px;
  --swiper-pagination-bullet-size: 12px; /* Adjust size of the dots */
  --swiper-pagination-bullet-inactive-color: #999; /* Inactive dot color */
  --swiper-pagination-bullet-inactive-opacity: 0.5; /* Inactive dot opacity */
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: #00FBF4; 
}

/* Meni item Active style */
.menuActive {
  color: #00FBF4;
  text-decoration: none;
  font-weight:500;
}
.menuDefault {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}